.venv
.vscode
poetry.lock
*.py
*.ipynb
__pycache__
.pytest_cache
TODO.md
*.csv
*.dat
*.txt
*.svg
docs/generated
docs/_build

!ooragan_logo.svg
!ooragan/*.py
!unit_testing/*.py
!unit_testing/Fit results
!docs/conf.py
!docs/requirements.txt