.venv
.vscode
poetry.lock
*.py
*.ipynb
__pycache__
Image*
fit_images
Fit result*
fit_results
.pytest_cache
TODO.md
*.csv
*.txt
fit_results_plots
data_plots

!ooragan/*.py
!unit_testing/*.py
!unit_testing/Fit results